* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* font-size: 14px; */
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  background: #dedede;
}

.header-container {
  color: white;
  font-family: inherit;
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.nav-logobar {
  width: 100%;
  height: 8.5vh;
  padding: 3px 10px;
  background-color: #131921;
  align-items: center;
}
.logo {
  height: 65%;
  width: auto;
  margin: 7px 5px;
}

.location-icon {
  width: 18px;
  height: 25px;
  margin: 15px 3px 0 3px;
}
.p-secondary {
  color: #cccccc;
  font-size: 0.8rem;
}
.p-content {
  font-size: 0.7rem;
}

.search-nav {
  height: 5.5vh;
}

select {
  color: #959494;
  font-size: 12px;
  border: none;
  width: auto;
  background-color: #e6e6e6;
  border-radius: 5px 0 0 5px;
}

.search-input {
  width: 55vw;
  border: none;
  padding-left: 5px;
}
.search-icon {
  font-size: 2rem;
  color: black;
  padding: 1.2rem;
  background-color: rgb(251, 197, 97);
  border-radius: 0px 4px 4px 0;
}

.US-flug {
  height: 1.5rem;
  width: auto;
  padding: 2px;
}
.shevron-icon {
  margin: 5px 2px 0 2px;
  height: 0.5rem;
}

.nav-bar {
  width: 100%;
  height: 6vh;
  padding-left: 20px;
  background-color: #232f3e;
}
.nav-bar > p {
  font-size: 0.9rem;
  font-weight: bold;
}

.cart-img {
  height: 60%;
  width: auto;
  margin-bottom: 3px;
}

.data {
  height: 4vh;
  color: #0f1111;
  background-color: #d8f7eb;
  padding-left: 20px;
}

/* Hero section - Avi */
.hero1 {
  width: 98%;
  margin: auto;
  height: 100vh;
  background: #bababa;
}

.inner-container {
  margin: auto;
  width: 80%;
  height: 100%;
  background: url(../images/61lwJy4B8PL._SX3000_.jpg) no-repeat center
    center/cover;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fade { 
  position: absolute; 
  bottom: -150px; 
  width: 100%; 
  height: 350px; 
  z-index: 2; 
  background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #dedede 80%) repeat scroll 0 0;  
}

.top-area {
  position: relative;
  width: 100%;
  padding-top: 12rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  z-index: 2;
}

/* I changed it for both side, take a look and Design it however you like :) */
/* .chevron-left {
  position: relative;
  left: 25px;
  font-size: 50px;
  color: black;
  height: 30px;
  width: 30px;
  z-index: 3;
}

.chevron-right {
  position: absolute;
  right: 25px;
  font-size: 50px;
  color: black;
  height: 30px;
  width: 30px;
  z-index: 3;
} */

/* .top-area i {
  position: absolute;
  color: black;
  height: 30px;
  width: 30px;
  z-index: 3;
} */

.cards-area {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.card {
  position: relative;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  height: 60vh;
  width: 25%;
  z-index: 4;
}

.see {
  position: absolute;
  flex-grow: 1;
  color: #2ab1a3;
  bottom: 0;
  padding: 0.5rem;
}

.card4 {
  margin-right: 0;
}

.card-items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.card.card4 img {
  padding: 2rem;
}

.card-item {
  padding: 0.5rem;
}

.card-item p {
  font-size: smaller;
}

.card-item img {
  /* padding-right: 1rem; */
  width: 100%;
  height: 15vh;
  /* margin: 1rem; */
}

/* Lines area */
.line {
  display: block;
  width: 100%;
  background: #fff;
  /* margin: 0 2rem; */
}

.line h2 {
  margin: 1rem;
  margin-top: 3rem;
}

.roller {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.roller img {
  margin-left: 5rem;
  max-width: 200px;
  height: 100%;
}

/* Laptop */

@media screen and (max-width: 1700px) {
  .inner-container {
    width: 100%;
  }
}
