* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}
.header-container {
  background-color: #131921;
  min-width: 1000px;
  height: 100px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1em;
}
.nav-logobar {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #232f3e;
  background-color: #232f3e;
  /* flex-flow: row nowrap;
  justify-content: space-between; */
}
.logo > img {
  height: 100%;
  margin-left: 15px;
  padding: 4px 2px 0 0;
}
.nav-logo-base {
  float: left;
  text-indent: -500px;
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
}

/* General style */
.location-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #3498db;
}

/* Icon */
.location-icon::before {
  content: "\f041";
  font-family: FontAwesome;
  font-size: 20px;
}

/* Hero section - Avi */
.hero1 {
  width: 100%;
  height: 100vh;
  background: grey;
}

.inner-container {
  margin: auto;
  width: 80%;
  height: 100%;
  background: url(../images/61lwJy4B8PL._SX3000_.jpg) no-repeat center center/cover;
  display: block;
  justify-content: center;
  align-items: center;
  
}

.top-area {
  padding-top: 12rem;
  display: flex;
  justify-content: space-around;
}

.cards-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card {
  background: #fff;
  padding: 2rem;
  display: block;
}

.card-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}